@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0b0e14;
  color: #d1d4dc;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
}
